extends ../shared/template
block content
  h2 Add Treasure
  .row
    .col-xs-6
      form(role='form', method = 'post', action = '/treasures', enctype= 'multipart/form-data')
        input#lat(type='hidden', name = 'lat')
        input#lng(type='hidden', name = 'lng')
        .form-group
          label(for='name') Location
          input.form-control#name(type= 'text', name= 'name', autofocus=true)
        .form-group
          label(for='name') Treasure Name
          input.form-control#tname(type= 'text', name= 'tname')
        .form-group
          label(for='pic') Reference Photo
          input.form-control#photo(type='file', name='photo', multiple=true)
        label(for='difficulty') Difficulty
        select.form-control#difficulty(type= 'text', name= 'difficulty')
          option Hard
          option Medium
          option Easy
        label(for='name') Hints
        textarea.form-control#hint(type= 'textarea', rows='6', name= 'hint')
        button.btn.btn-primary(type='submit') Add Treasure


block scripts
  script(src='/js/user/init-treasures.js')
